---
title: Arts@STH
---

  <div class="container">
    <div class="row">
      
        <div class="col-md-12">
          <header>
            <h1>Artists</h1>
            <p class="lead">subtitle</p>
          </header>
      
        </div>

    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Artists</li>
      </ol>
    </div>

    </div>
  </div>

<section class="featured">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="subtle">Featured</h2>
      </div>

      <div class="col-md-8">
        <% link_to "/artist.html"  do %>
          <%= image_tag "artists/geo_law.jpg", class: "img-responsive" %>
        <% end %>
        <div class="block"><%= link_to "Geo Law", "/artist.html" %></div>      
      </div>
      
      <div class="col-md-4">
        <p class="lead">The Arts in Health team at Sheffield Teaching Hospitals run a weekly programme of arts crafts sessions delivered by a dedicated team of arts activity volunteers, an arts coordinator and arts activity project leaders.</p>
      </div>
    </div>
  </div>
</section>

<section class="artists"><div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="subtle">Artists</h2>
    </div>

    <div class="col-md-4">
      <%= image_tag "artists/geo_law.jpg", class: "img-responsive" %>
      <div class="block"><%= link_to "Geo Law", "/artist.html" %></div> 
    </div>
    
    <div class="col-md-4">
      <%= image_tag "artists/charlotte_newton_.jpg", class: "img-responsive" %>
      <div class="block"><%= link_to "Charlotte Newton", "/artist.html" %></div> 
    </div>
    
    <div class="col-md-4">
      <%= image_tag "artists/andy_brown.jpg", class: "img-responsive" %>
      <div class="block"><%= link_to "Andy Brown", "/artist.html" %></div> 
    </div>
  </div>
</div></section>

<section class="recent-projects"></section>

<section class="recent-artworks"></section>

<section class="recent-news"></section>