---
title: Arts@STH
---

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>Arts at STH Prototype</h1>
      <ul>
        <li><%= link_to "Home", "/home.html" %></li>
        <li><%= link_to "About", "/about.html" %></li>
        <li><%= link_to "Page example", "/page.html" %></li>
        <li><%= link_to "Artists", "/artists.html" %></li>
        <li><%= link_to "Single Artist", "/artist.html" %></li>
      </ul>
    </div>
  </div>
</div>